
<mat-card>

    <h2 class="alinear">Actualizar Lecturacion</h2>
    <mat-card-header>
        <div>
            
        </div>
    </mat-card-header>

    <mat-card-content>
      
    </mat-card-content>

    <mat-card-content>
        <span >{{data.mesLecturacion}}</span>
        <form [formGroup]="lecturacionForm" style="margin-top: 10px;">
            <div class="lectura-container">

                <mat-form-field>
                    <input matInput type="number" placeholder="Lectura Actual" formControlName="lecturaActual" required>
                    <div *ngIf="lecturacionForm.get('lecturaActual')?.hasError('esMayor')" style="color: crimson;">
                        ¡La lectura actual no puede ser menor o igual que la lectura del anterior mes! Lect Ant: {{this.data.lecturaAnterior}}
                    </div>
                    <br>
                    <div>
                        <span style="color: crimson;">{{mesajeDeRecibo}}</span>
                    </div>
                    
                </mat-form-field>
                
            </div>
        </form>
        <mat-dialog-actions >

            <button mat-button color="primary" (click)="actualizarLecturacion()" [disabled]="lecturacionForm.invalid || habilitarBoton">
                <mat-icon>save</mat-icon>Actualizar
            </button>
            <button mat-button color="primary" (click)="cerrarPantallaActualizar()">
                <mat-icon>cancel</mat-icon>Cancelar
            </button>

        </mat-dialog-actions>
    </mat-card-content>

</mat-card>