<mat-card>

    <h2 class="alinear">Listada de Lecturaciones</h2>
    <mat-card-header>
        <div>
            <mat-form-field hintLabel="busque medidor (falta implementar)" appearance="fill">
                <mat-label>Buscar Lectura</mat-label>
                <input matInput #input >
            </mat-form-field>
        </div>
    </mat-card-header>
    <mat-card-header>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-raised-button color="primary" (click)="openMedidordialogo()">Agregar Lectura</button>
                </li>
            </ul>
        </div>
    </mat-card-header>
    <div mat-card-image></div>

    <mat-card-content>
        <table mat-table [dataSource]="dataSourse">
            <!--idLecturacion colum-->
            <ng-container matColumnDef="idLecturacion">
                <th mat-header-cell *matHeaderCellDef>N°</th>
                <td mat-cell *matCellDef="let element">{{element.idLecturacion}}</td>
            </ng-container>
            
            <!--mesLecturacion columna-->
            <ng-container matColumnDef="mesLecturacion">
                <th mat-header-cell *matHeaderCellDef>Mes Lecturacion</th>
                <td mat-cell *matCellDef="let element">{{element.mesLecturacion}}</td>
            </ng-container>

            

             <!--lecturaActual columna-->
             <ng-container matColumnDef="lecturaActual">
                <th mat-header-cell *matHeaderCellDef>lectura Actual</th>
                <td mat-cell *matCellDef="let element">{{element.lecturaActual}}</td>
            </ng-container>

            <!--lecturaAnterior columna-->
            <ng-container matColumnDef="lecturaAnterior">
                <th mat-header-cell *matHeaderCellDef>Lectura Anterior</th>
                <td mat-cell *matCellDef="let element">{{element.lecturaAnterior}}</td>
            </ng-container>

            <!--consumo columna-->
            <ng-container matColumnDef="consumo">
                <th mat-header-cell *matHeaderCellDef>consumo</th>
                <td mat-cell *matCellDef="let element">{{element.consumo}}</td>
            </ng-container>

            <!--medidor columna-->
            <ng-container matColumnDef="medidor">
                <th mat-header-cell *matHeaderCellDef>Socio (# medidor)</th>
                <td mat-cell *matCellDef="let element">{{element.medidor.socio.nombre+" "+element.medidor.socio.apellidoPaterno+" "+element.medidor.socio.apellidoMaterno+"( "+element.medidor.idMedidor+" )"}}</td>
            </ng-container>
            <!-- acciones -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Acciones</th>
                <td mat-cell *matCellDef="let element; let i = index;">
                    <button mat-icon-button color="accent" (click)="editar(element.idLecturacion, element.mesLecturacion, element.lecturaAnterior, element.lecturaActual, element.medidor  )">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>
                    
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <!--paginacion-->

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


    </mat-card-content>

</mat-card>
